<header class="page-header">
    <h1>Create a New Category</h1>
  </header>

<%= render 'form', category: @category %>

<%= link_to "Back to Categories", admin_categories_path, class: "btn btn-secondary" %>