<!DOCTYPE html>
<html>
<head>
  <title>About Us - Jungle Store</title>

</head>
<body>
  <h1>About Jungle Store</h1>

  <article>
    <div class="image-container">
      <img src="../images/plant_about.jpg" alt="Jungle Store Image">
    </div>
    <div>
      <p>Welcome to Jungle Store, your one-stop shop for all things green and beautiful. We're passionate about bringing the natural world into your home and making it easy for you to create a thriving, green oasis. Our commitment to quality and affordability sets us apart as your trusted online plant shop.</p>
<br>
      <h2>Our Promise</h2>
      <p>At Jungle Store, we pride ourselves on offering only the highest quality plants and flowers. We carefully source our products from renowned growers and nurseries to ensure that you receive healthy, vibrant, and stunning plants.</p>

      <h2>Why Choose Us?</h2>
      <p>When you shop with us, you benefit from a seamless and user-friendly ordering process. We offer free shipping on all orders over $50, making it convenient and cost-effective to enhance your living space with nature's beauty.</p>
    </div>
  </article>
</body>
</html>